body{
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
}

header{
  font-weight: bold;
  font-size: 16px;
}

h1{
  font-weight: bold;
  font-size: 30px;
}

.breadcrumbs{
  font-weight: bold;
  font-size: 14px;
}

.filters legend{
  font-weight: bold;
  font-size: 24px;
}

.filters label{
  font-weight: bold;
  font-size: 14px;
}

.filters input{
  font-weight: bold;
  font-size: 13px;
}

.item{
  font-weight: bold;
  font-size: 14px;
}

.item .name,
.item .producers{
  text-transform: none;
}

footer{
  font-weight: bold;
  font-size: 14px;
}

.features p,
.news-preview,
.description{
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.item_article,
.breadcrumbs .current_page{
  color: #aeaeae;
}
